* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: bisque;
  display: flex;
  outline: 2px solid green;
  overflow-x: hidden;
  width: 100vw;
}
/*navbar start*/
.navbar {
  width: 100vw;
  height: 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  outline: 2px solid black;
}
.brand-logo {
  height: 100%;
  width: 20%;
  border: 2px solid red;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cta-link {
  text-decoration: none;
}
.nav {
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav-list-item {
  list-style: none;
  margin-right: 20px;
}

.cta-button {
  height: 30px;
  width: auto;
  margin-right: 20px;
  padding: 5px;
  border-radius: 0px;
  /* box-shadow: 5px 6px black; */
}
/*section 1 content start*/
.content-1 {
  height: auto;
  max-width: 100%;
  border: 2px solid red;
}
.content-1-text {
  height: 50vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content-1-img {
  height: 50vh;
  width: 100%;
  object-fit: cover;
}
