* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: bisque;
  display: flex;
  outline: 2px solid black;
}

.navbar {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.brand-logo {
  height: 100%;
  width: 20%;
  border: 2px solid red;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cta-link {
  text-decoration: none;
}
.nav {
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav-list-item {
  list-style: none;
  margin-right: 20px;
}
