/* section-1 */
.sp-link{
    border-top: 1px solid var(--text-dark);
    border-bottom: 1px solid var(--text-dark);
}
.service-link {
color:var(--text-dark);
}

.service-link:hover{
    color:var(--primary-bg-3);
}
/* section-1 */

/* card styles */
.card-body{
    color:#050404;
    background-color: #EAEAEA;   
}

/* card-styles */


/* services */
#sp-service-1,#sp-service-3{
    /* color:var(--text-dark);
    background-color: var(--primary-bg-1);  */
    min-height: 100vh;
}

#sp-service-2{
    min-height: 101vh;
}
/* services --end */

#sp-section-5{
   background-color: var(--primary-bg);
}

/* scroll-to-top-button */
.to-top{
    background-color:white;
    color: black;
    border: none;
    position: fixed;
    bottom:16px;
    right: 32px;
    height:50px;
    width: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    text-decoration: none;
    padding:5px;
    z-index: 2;
    opacity: 0;
    pointer-events: none;
    transition: ease-in .4s;
    box-shadow: 0px 1px 5px black;
}

.to-top.active{
    opacity: 1;
    pointer-events: auto;
    bottom:32px;
}
/* scroll-to-top-button */