.drop-shadow {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

/* section-1 */

.sp-link {
  border-top: 1px solid var(--text-dark);
  border-bottom: 1px solid var(--text-dark);
}
.sp-items-container {
  /* background: linear-gradient(90deg, rgba(234, 204, 248, 0.45) 0%, rgba(102, 84, 241, 0.43) 100%); */
  background-color: var(--primary-bg-3);
}
.sp-items-container .nav-link {
  width: fit-content;
  height: 100%;
  text-align: center;
  vertical-align: middle;
  letter-spacing: 1.25px;
  font-weight: 300;
}

.sp-items-container .nav-link:hover {
  color: var(--nav-hover);
}
.sp-items-container .nav-link:focus {
  color: var(--nav-focus);
}
/* .service-link {
color:var(--text-dark);
} */

/* .service-link:hover{
    color:var(--primary-bg-3); */

/* section-1 */

/* card styles */
.card-body {
  color: #050404;
  background-color: var(--card-body);
  /* background-color: #FF934F; */
}
.card-text {
  font-family: "Montserrat", sans-serif;
  font-size: 1.1em;
}
.card-title {
  font-size: 3.5em;
  font-family: "Playfair Display", serif;
  font-weight: 300;
  color: var(--text-dark);
}

/* card-styles */

/* services */

#sp-service-1,
#sp-service-2,
#sp-service-3 {
  /* color:var(--text-dark);
    background-color: var(--primary-bg-1);  */
  min-height: 100vh;
  border-bottom: 1px solid var(--text-dark);
}

/* services --end */

#sp-section-5 {
  background-color: var(--primary-bg);
}

/* scroll-to-top-button */
.to-top {
  background-color: white;
  color: black;
  border: none;
  position: fixed;
  bottom: 16px;
  right: 32px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  text-decoration: none;
  padding: 5px;
  z-index: 2;
  opacity: 0;
  pointer-events: none;
  transition: ease-in 0.4s;
  box-shadow: 0px 1px 5px black;
}

.to-top.active {
  opacity: 1;
  pointer-events: auto;
  bottom: 32px;
}
/* scroll-to-top-button */
