* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.hp-section-1,
.hp-section-1-div-1 {
  height: 90vh;
}

.hp-section-1-div-2 {
  height: 30vh;
  width: 100%;
}
.hp-section-1-div-2-img {
  height: 100%;
  object-fit: cover;
}
